<a href="https://colab.research.google.com/github/shkwo-n/Customer_Support_on_Twitter_Sentiment_analysis/blob/main/CST.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [5]:
import pandas as pd

twcs=pd.read_csv("/content/drive/MyDrive/SW 전문 인재 양성/SW스마트팩토리/개인플젝/CST/twcs/twcs.csv")

In [8]:
twcs.head()

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
0,1,sprintcare,False,Tue Oct 31 22:10:47 +0000 2017,@115712 I understand. I would like to assist y...,2,3.0
1,2,115712,True,Tue Oct 31 22:11:45 +0000 2017,@sprintcare and how do you propose we do that,NaN,1.0
2,3,115712,True,Tue Oct 31 22:08:27 +0000 2017,@sprintcare I have sent several private messag...,1,4.0
3,4,sprintcare,False,Tue Oct 31 21:54:49 +0000 2017,@115712 Please send us a Private Message so th...,3,5.0
4,5,115712,True,Tue Oct 31 21:49:35 +0000 2017,@sprintcare I did.,4,6.0

### RateLimitError: You exceeded your current quota, please check your plan and billing details.

gpt api를 사용할 수 없음...

In [ ]:
!pip install openai

import openai

# OpenAI API key
api_key = "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"
openai.api_key = api_key

def sentiment_analysis(review_text):
    prompt = f"감성 분석: '{review_text}'는 긍정적인지 부정적인지 판단해주세요."
    response = openai.Completion.create(
        engine="gpt-3.5-turbo",  # GPT-3.5
        prompt=prompt,
        max_tokens=100  # the number of maximum tokens
    )
    return response.choices[0].text.strip()

# text data
review_data = twcs['text'].tolist()
sample = review_data[:4]

sentiments = []
for review in review_data:
    result = sentiment_analysis(review)
    sentiments.append(result)

twcs['sentiment'] = sentiments

In [18]:
twcs

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
0,1,sprintcare,False,Tue Oct 31 22:10:47 +0000 2017,@115712 I understand. I would like to assist y...,2,3.0
1,2,115712,True,Tue Oct 31 22:11:45 +0000 2017,@sprintcare and how do you propose we do that,NaN,1.0
2,3,115712,True,Tue Oct 31 22:08:27 +0000 2017,@sprintcare I have sent several private messag...,1,4.0
3,4,sprintcare,False,Tue Oct 31 21:54:49 +0000 2017,@115712 Please send us a Private Message so th...,3,5.0
4,5,115712,True,Tue Oct 31 21:49:35 +0000 2017,@sprintcare I did.,4,6.0
...,...,...,...,...,...,...,...
2811769,2987947,sprintcare,False,Wed Nov 22 08:43:51 +0000 2017,"@823869 Hey, we'd be happy to look into this f...",NaN,2987948.0
2811770,2987948,823869,True,Wed Nov 22 08:35:16 +0000 2017,@115714 wtf!? I’ve been having really shitty s...,2987947,NaN
2811771,2812240,121673,True,Thu Nov 23 04:13:07 +0000 2017,@143549 @sprintcare You have to go to https://...,NaN,2812239.0
2811772,2987949,AldiUK,False,Wed Nov 22 08:31:24 +0000 2017,"@823870 Sounds delicious, Sarah! 😋 https://t.c...",NaN,2987950.0
2811773,2987950,823870,True,Tue Nov 21 22:01:04 +0000 2017,@AldiUK warm sloe gin mince pies with ice cre...,"2987951,2987949",NaN

In [19]:
import pandas as pd
import nltk
from nltk.corpus import sentiwordnet as swn

# nltk 데이터 다운로드
nltk.download('wordnet')
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')

# 감성 점수 계산 함수 정의
def calculate_sentiment_score(text):
    words = nltk.word_tokenize(text)
    sentiment_score = 0.0
    num_words = 0

    for word, tag in nltk.pos_tag(words):
        if tag.startswith('NN'):
            synsets = list(swn.senti_synsets(word, 'n'))
        elif tag.startswith('VB'):
            synsets = list(swn.senti_synsets(word, 'v'))
        elif tag.startswith('JJ'):
            synsets = list(swn.senti_synsets(word, 'a'))
        elif tag.startswith('RB'):
            synsets = list(swn.senti_synsets(word, 'r'))
        else:
            synsets = []

        if len(synsets) > 0:
            synset = synsets[0]  # 첫 번째 synset만 사용
            sentiment_score += synset.pos_score() - synset.neg_score()
            num_words += 1

    if num_words > 0:
        sentiment_score /= num_words

    return sentiment_score

# 라벨링되지 않은 데이터로부터 감성 점수 계산
sample=twcs[:20]
sample['sentiment_score'] = sample['text'].apply(calculate_sentiment_score)

# 감성 점수를 기준으로 감성 라벨링
sample['sentiment'] = sample['sentiment_score'].apply(lambda x: '긍정' if x > 0 else ('부정' if x < 0 else '중립'))

# 결과 확인
print(sample[['text', 'sentiment']])

                                                 text sentiment
0   @115712 I understand. I would like to assist y...        긍정
1       @sprintcare and how do you propose we do that        중립
2   @sprintcare I have sent several private messag...        부정
3   @115712 Please send us a Private Message so th...        부정
4                                  @sprintcare I did.        중립
5   @115712 Can you please send us a private messa...        긍정
6           @sprintcare is the worst customer service        부정
7   @115713 This is saddening to hear. Please shoo...        부정
8   @sprintcare You gonna magically change your co...        긍정
9   @115713 We understand your concerns and we'd l...        긍정
10  @sprintcare Since I signed up with you....Sinc...        중립
11  @115713 H there! We'd definitely like to work ...        긍정
12  @115714 y’all lie about your “great” connectio...        부정
13  @115715 Please send me a private message so th...        부정
14  @115714 whenever I contact customer support, t...        긍정
15         @115716 What information is incorrect? ^JK        부정
16  @Ask_Spectrum Would you like me to email you a...        부정
17  @115716 Our department is part of the corporat...        긍정
18  @Ask_Spectrum I received this from your corpor...        중립
19                          @115716 No thank you. ^JK        부정

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
<ipython-input-19-898dafc5f95e>:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample['sentiment_score'] = sample['text'].apply(calculate_sentiment_score)
<ipython-input-19-898dafc5f95e>:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample['sentiment'] = sample['sentiment_score'].apply(lambda x: '긍정' if x > 0 else ('부정' if x < 0 else '중립'))